<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>About us</h2>
        <p>Hello there!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>