<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/auth_styles.css">
</head>
<body>
  <nav>
    <ul>
      <% if(user){ %>
        <li>Welcome, <%= user.email %></li>
        <li><a href="/v1/auth/blogs/logout">Logout</a></li>
      <% } else{ %>
      <li><a href="/v1/auth/blogs/login">Login</a></li>
      <li><a href="/v1/auth/blogs/signup" class="btn">Signup</a></li>
      <% } %>
    </ul>
  </nav>
  
