<nav>
    <div class="site-title">
        <a href="/"><h1>Node blog</h1></a>
        <p>A site with node.js</p>
    </div>
    <ul>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>
